.sidebar {
}

.sidebar.open {
    color: #0066cc;
}

.background {
}

.nav {
}

.nav a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #0066cc;
}

.nav a.active {
    color: #0066cc;
}
.close {
}

.close img {
}

